<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Features</div>
                <a class="nav-link" href="dashboard">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-sliders"></i></div>
                    Dashboard
                </a>

                <a class="nav-link" href="user">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-user"></i></div>
                    User
                </a>

                <a class="nav-link" href="product">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-briefcase"></i></div>
                    Product
                </a>

                <a class="nav-link" href="order">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-cart-shopping"></i></div>
                    Order
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <!-- <div class="small">Logged in as:</div> -->
            PHÍ NGỌC THIỆN
        </div>
    </nav>
</div>